<!doctype html>
<html>
  <head>
    <title>Chat con socketi.io</title>
    <link href="css/style.css" rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%- body %>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>
